@font-face {
  font-family: 'Mohave-Bold';
  src: local('Mohave-Bold'), url(./fonts/Mohave-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('woff');
}
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  display: flex;

  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
body * {
  box-sizing: border-box;
}
#root {
  height: 100%;
  width: 100%;
  display: flex;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  min-width: 0px;
}
